CFSL-2054-PS.json filter=lfs diff=lfs merge=lfs -text
CFSL-2054-Sim1.json filter=lfs diff=lfs merge=lfs -text
CFSL-2054-Sim2.json filter=lfs diff=lfs merge=lfs -text
CFSL-2054-Sim3.json filter=lfs diff=lfs merge=lfs -text
CFSL-2054-Sim4.json filter=lfs diff=lfs merge=lfs -text
CFSL-2054-Playoffs.json filter=lfs diff=lfs merge=lfs -text
CFSL-2054-NSD.json filter=lfs diff=lfs merge=lfs -text